API_HOST=http://localhost:3001
CLINIC_HOST=https://dev.clinic.inneranchor.ca
VAPID_KEY=PUT_FIREBASE_VAPID_KEY_HERE
GOOGLE_AUTH_CLIENT_ID=PUT_GOOGLE_AUTH_CLIENT_ID_HERE
APPLE_REDIRECT_URI=PUT_APPLE_REDIRECT_URI_HERE
APPLE_SERVICE_ID=PUT_APPLE_SERVICE_ID_HERE
POSTHOG_API_KEY=PUT_POSTHOG_API_KEY_HERE
BASE64_FIREBASE_CONFIG=eyJhcGlLZXkiOiJtb2NrIiwiYXV0aERvbWFpbiI6Im1vY2suZmlyZWJhc2VhcHAuY29tIiwicHJvamVjdElkIjoibW9jayIsInN0b3JhZ2VCdWNrZXQiOiJtb2NrLmZpcmViYXNlc3RvcmFnZS5hcHAiLCJtZXNzYWdpbmdTZW5kZXJJZCI6IjAwMDAwMDAwMDAwMCIsImFuZHJvaWRBcHBJZCI6IjE6MDAwMDAwMDAwMDAwOmFuZHJvaWQ6bW9jayIsImlvc0FwcElkIjoiMTowMDAwMDAwMDAwMDA6aW9zOm1vY2siLCJ3ZWJBcHBJZCI6IjE6MDAwMDAwMDAwMDAwOndlYjptb2NrIiwiaW9zQ2xpZW50SWQiOiJtb2NrLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiaW9zQnVuZGxlSWQiOiJjb20ubW9jay5hcHAifQ==
GCP_PROJECT_NAME=dev-clinic-app
GCP_API_PROJECT_NAME=dev-api-server
TWILIO_ACCOUNT_SID=ACmock00000000000000000000000000000
TWILIO_AUTH_TOKEN=mockauthtoken00000000000000000000
NODE_ENV_SHORTFORM=mock
